.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

ul {
  padding: 0
}

li {
  list-style: none;
  font-size: 2em;
  padding: 10px;
  margin: 0;
  background-color: aqua;
}

div.relative {
  position: relative;
  width: 400px;
  height: 720px;
}

div.slot {
  position: absolute;
  top: 0;
  right: 0;
  width: 400px;
  height: 100px;
  border-top: 3px solid #73AD21;
  border-bottom: 3px solid #73AD21;
}

div.slotnow {
  position: absolute;
  top: 0;
  right: 0;
  width: 400px;

  border-bottom: 3px solid red;
}
